<div class="btn-group">
  <%= link_to 'Bearbeiten', edit_book_path(@book), class: "btn btn-default" %>
  <%= link_to 'Gesamtes Dokument anzeigen', book_export_path(@book, 'html'), :target => '_blank', class: "btn btn-default" %>
  <%= link_to 'Als PDF exportieren', book_export_path(@book, 'pdf'), :target => '_blank', class: "btn btn-default" %>
  <%= link_to 'Als ePub exportieren', book_export_path(@book, 'epub'), class: "btn btn-default" %>
</div>
<br>
<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Edition:</b>
  <%= @book.edition %>
</p>

<p>
  <b>Published:</b>
  <%= @book.published %>
</p>

<p>
  <b>Genre:</b>
  <%= @book.genre %>
</p>

<p>
  <b>Tags:</b>
  <%= @book.tags %>
</p>
