<%= form_for([@book, @chunk], html: {class: 'form', role: 'form'}) do |f| %>
  <% if @chunk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chunk.errors.count, "error") %> prohibited this chunk from being saved:</h2>

      <ul>
      <% @chunk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Speichern', class: 'btn btn-primary' %>
  </div>

  <%= f.hidden_field :original_updated_at %>
  <div class="field form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :section %><br />
    <%= f.text_field :section, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :user %><br />
    <%= f.collection_select(:user_id, User.all, :id, :email) %>
  </div>
  <div class="field form-group">
    <%= f.text_area :content, class: 'form-control ckeditor' %>
  </div>
<% end %>
