<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>BookWriter</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid" id="layout_container">
  <nav class="navbar navbar-default" role="navigation" id="top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-book"></span> BookWriter</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to books_path do %><span class="glyphicon glyphicon-home"></span> Startseite<% end %></li>
            <li><%= link_to edit_user_registration_path do %><span class="glyphicon glyphicon-cog"></span> Meine Daten (<%= current_user.email %>)<% end %></li>
            <li><%= link_to destroy_user_session_path, method: :delete  do %><span class="glyphicon glyphicon-off"></span> Abmelden<% end %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-4" id="left">
      <%= yield :left %>
    </div>
    <div class="col-md-8" id="content">
      <% if flash[:notice] %>
        <div class="alert alert-warning" id="notice" role="alert"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:error] %>
        <div id="error" class="alert alert-danger" role="alert"><%= flash[:error] %></div>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>